
/pre_setup
/pre_setup/
pre_setup/
pre_setup/*
/pre_setup/*

/setup/
/setup
setup/
setup/*
/setup/*

/sql
/sql/
sql/
sql/*
/sql/*


/upgrade    
/upgrade/   
upgrade/ 
upgrade/*
/upgrade/*

_geocache/
